body {
    background-color: rgb(41, 192, 74);
}

.heading{
    font-size: 40px;
    color: rgb(16, 90, 68);
}

.text{
    size: 50px;
    color: rgb(23, 68, 22);
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.convert{
    display: flex;
    justify-content: center;
   
}

.convertButton{
   color: rgb(25, 92, 75);
}





